@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Roboto");
button {
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, rgba(255, 121, 218, 0.9));
  padding: 1em;
  border: 0px;
  border-radius: 2em;
  color: #eeebeb;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(131, 130, 130, 0.5);
  padding: 1.2em;
  margin-bottom: 50px;
  font-size: 1em;
  cursor: pointer;
  transition-duration: 0.25s;
}
button:hover {
  background-color: white;
  box-shadow: 0px 5px 10px #838282;
}

.headermenu {
  display: flex;
  align-items: center;
  padding: 1em;
}
.headermenu img {
  width: 40%;
  margin: auto;
}
.headermenu + img {
  object-fit: cover;
  width: 100%;
  height: 15rem;
}

.menutitle {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "shrikhand";
  position: relative;
}

.menucards {
  width: 90%;
  margin: auto;
  cursor: pointer;
}
.menucards h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  color: grey;
  width: 13%;
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 0.2em;
}

.menucard:last-child {
  margin-bottom: 3em;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .menucard {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .menucard .card {
    width: 30%;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1em;
  box-shadow: 1px 1px 10px grey;
  padding: 0.8em;
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 1.5s;
  animation-fill-mode: both;
  transform: scale(0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .accompaniment {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}
.card h3 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
}
.card span {
  font-weight: bold;
}
.card__confirmation {
  background-color: #99E2D0;
  margin: -1rem -6rem -1rem 1rem;
  width: 5rem;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.card:hover .card__confirmation {
  margin-right: -1rem;
}
.card__wrapIcon {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.card:hover .card__wrapIcon {
  transform: rotate(0);
}
.card__icon {
  color: #99E2D0;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 1.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__container {
  display: flex;
  justify-content: center;
}

.container__circle {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  margin: 2em;
  animation: bounce 1.5s 0.5s linear infinite;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.container__circle--primary {
  background-color: #9356DC;
  animation: bounce 0.3s;
}
.container__circle--secondary {
  background-color: #FF79DA;
  animation: bounce 0.5s;
}
.container__circle--tertiaire {
  background-color: #99E2D0;
  animation: bounce 0.7s;
}

/* header */
.header {
  margin: auto;
  padding: 1em;
  text-align: center;
  box-shadow: 0 0 0.5rem grey;
  position: relative;
}

/* section exploration */
.localisation {
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: #f5f1f1;
}
.localisation__place {
  background-color: #e4e1e1;
  color: #575454;
  padding: 1em;
  font-weight: 900;
}
.localisation__place i {
  padding-right: 1em;
}
.localisation h1 {
  padding-top: 1em;
  width: 65%;
  margin: auto;
  padding-bottom: 0.5em;
  font-size: 1.5em;
}
.localisation p {
  padding-bottom: 1em;
  color: grey;
  width: 85%;
  margin: auto;
  font-size: 1.2em;
}

/* section operation */
.operation {
  width: 90%;
  margin: auto;
}
.operation h2 {
  padding-top: 1.1em;
  font-size: 1.7em;
}
.operation__step {
  margin: 0;
  margin-bottom: 3em;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
.operation__step li {
  background-color: #f5f1f1;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  display: flex;
  position: relative;
}
.operation__step li::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.operation__step li:hover {
  background-color: #efe8f7;
}
.operation__step li:hover i {
  color: #9356dc;
}
.operation__step i {
  padding-right: 1em;
  color: grey;
}
@media screen and (min-width: 1024px) {
  .operation__step {
    display: flex;
    justify-content: center;
  }
  .operation__step li {
    margin-right: 2em;
    width: 33%;
  }
}

/* section restaurant */
.restaurant {
  background-color: #e6e6e6;
  padding-bottom: 40px;
}

.galerierestaurant {
  width: 90%;
  margin: auto;
}
.galerierestaurant h2 {
  padding: 2.1em 0 0.2em 0;
  font-size: 1.7em;
}

@media screen and (min-width: 1024px) {
  .restaurantmenu {
    display: flex;
    flex-flow: wrap row;
    width: 100%;
  }
  .restaurantmenu .menu {
    width: 48%;
    margin-right: 2em;
  }
}

.menu {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 20px;
  position: relative;
}
.menu figure {
  margin: 0;
}
.menu img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.menu span {
  color: #2c9c81;
  background-color: #99e2d0;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  position: absolute;
  top: 1em;
  right: 1em;
  border-radius: 3%;
}
.menu figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 1em;
}
.title h3 {
  padding-bottom: 0.1em;
  margin: 0;
}
.title p {
  margin: 0;
}

.main {
  background-color: #f0e9e9;
  border-radius: 2em 2em 0 0;
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: -3em;
}
@media screen and (min-width: 1024px) {
  .main {
    width: 80%;
  }
}

.menu__heart {
  position: relative;
  margin-right: 1em;
}
.menu__heart--notlike {
  position: absolute;
  color: grey;
}
.menu__heart--liked {
  z-index: 1;
  opacity: 0;
}
.menu__heart--liked:hover {
  opacity: 1;
  transition-duration: 0.5s;
  background: -webkit-linear-gradient(0deg, #9356DC 10%, #FF79DA 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */
.footer {
  background-color: #353535;
}
.footer__container {
  color: white;
  width: 90%;
  margin: auto;
}
.footer__logo {
  font-family: "shrikhand";
  padding-top: 0.5em;
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0 0 3em 0;
}
.footer__list li {
  padding-bottom: 0.5em;
}
.footer__list i {
  padding-right: 1em;
}
@media screen and (min-width: 1024px) {
  .footer {
    text-align: center;
  }
}

html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0%, 50% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/*# sourceMappingURL=style.css.map */
