.headermenu{
  display: flex;
  align-items: center;
  padding: 1em;
  img{
    width: 40%;
    margin: auto;
  }
  &+img{
  object-fit: cover;
  width: 100%;
  height: 15rem;
  }
}

.menu__heart {
  position: relative;
  margin-right: 1em;
  &--notlike {
    position: absolute;
    color: grey;
  }
  &--liked {
    z-index: 1;
    opacity: 0;
    &:hover{
      opacity: 1;
      transition-duration: 0.5s;
      background: -webkit-linear-gradient(0deg, $color-primary 10%,$color-secondary 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


.menutitle{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "shrikhand";
  position: relative;
}
  
  .menucards{
    width: 90%;
    margin: auto;
    cursor: pointer;
    h2{
      text-transform: uppercase;
      font-size: 1.1em;
      color: grey;
      width: 13%;
      border-bottom: solid 3px #99E2D0;
      padding-bottom: 0.2em;
    }
  }
  
  .menucard{
    &:last-child{
      margin-bottom: 3em;
      text-align: left;
    }
    @media screen and (min-width: 1024px){
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      .card{
        width: 30%;
      }
    }
  }
  
.card{
  background-color: white;
  border-radius: 1rem ;
  margin-bottom: 1em;
  box-shadow: 1px 1px 10px grey;
  padding: 0.8em;  
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 1.5s;
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;
  transform: scale(0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .accompaniment{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
  }
  h3{
    margin: 0;
  }
  p{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
  }
  span{
    font-weight: bold;
  }
  &__confirmation{
    background-color: $color-tertiaire;
    margin: -1rem -6rem -1rem 1rem;
    width: 5rem;
    height: 4.5em;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
  }
  &:hover &__confirmation{
    margin-right: -1rem;
  }
  &__wrapIcon{
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
  &:hover &__wrapIcon{
    transform: rotate(0);
  }
  &__icon{
    color: $color-tertiaire;
  }
}